<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Delivery and management system(PDMS)</title>
</head>
<body>
  <h5>hllo friends</h5>
  <ul>
    <ul>
      <% for(var i=0; i<data.length; i++){ %>
        <li><%= data[i].item %></li>
      <% }; %>
    </ul>
  </ul>
</body>
</html>