<%- include('navbar'); -%>
<header id="fh5co-header" style="background-image: url(https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?ixlib=rb-1.2.1&w=1000&q=80)">
<div class="overlay"></div>
		<div class="container">
            <h1 class="text-white text-center py-2">Welcome to Kirana Ghar</h1>
            <h3 class="text-white text-center">Apki Apni Dukan</h3>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="intro">
						<p>
                        <p class="text-white">We deal in goods and services
                            related to the e-coomerce and stuff.
                            Buy our new product and get details.
                            Amazon.com's product lines available at its website include several media (books, DVDs, music CDs, videotapes and software),
                            apparel, baby products, consumer electronics, beauty products, gourmet food, groceries, health and personal-care items,
                            industrial & scientific supplies, kitchen items, jewelry, watches, lawn and garden items, musical instruments,
                            sporting goods, tools, automotive items and toys & games.[citation needed] In August 2019,
                            Amazon applied to have a liquor store in San Francisco, CA as a means to ship beer and alcohol within the city.
                            On October 18, 2011, Amazon.com announced a partnership with DC Comics for the exclusive digital rights to many popular comics,
                            including Superman, Batman, Green Lantern, The Sandman, and Watchmen. The partnership has caused well-known bookstores
                            like Barnes & Noble to remove these titles from their shelves.
                        </p>
						 <a href="#" class="btn btn-light"><i class="fa fa-shopping-cart"></i> Shop Now</a>
						</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
					<div class="picture text-center">
                        <img class="py-4 px-4" src="https://www.freepnglogos.com/uploads/white-jack-daniels-holiday-whiskey-logo-png-2.png" width="400" height="400">
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="card bg-transparent mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Light card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Light card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Light card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div> -->
            <br>
        </div>
</header>
<header style="background-image: url(https://eskipaper.com/images/dark-universe-hd-1.jpg)">
   <div class="container py-2">
        <h2 class="text-white text-center py-4">Today's Offer</h2>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                    <div class="card">
                        <h6 class="text-danger text-center py-2"><blink>Sale 40% Off</blink></h6>
                        <img class="card-img-top" src="https://cdn.grofers.com/app/images/products/full_screen/pro_25486.jpg" alt="Card image" style="width:80%">
                        <div class="card-body card-body-cascade">
                            <h4 class="card-title text-info">Amul Ghee</h4>
                            <p class="card-text text-warning">Price : Rs.700</p>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                        </div>
                    </div>
                </div>
            <div class="col-md-3 col-sm-3">
                    <div class="card">
                        <h6 class="text-danger text-center py-2"><blink>Sale 40% Off</blink></h6>
                        <img class="card-img-top" src="https://cdn.grofers.com/app/images/products/full_screen/pro_25486.jpg" alt="Card image" style="width:80%">
                        <div class="card-body">
                            <h4 class="card-title text-info">Amul Ghee</h4>
                            <p class="card-text text-warning">Price : Rs.700</p>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                        </div>
                    </div>
                </div>
            <div class="col-md-3 col-sm-3">
                    <div class="card">
                        <h6 class="text-danger text-center py-2"><blink>Sale 40% Off</blink></h6>
                        <img class="card-img-top" src="https://cdn.grofers.com/app/images/products/full_screen/pro_25486.jpg" alt="Card image" style="width:80%">
                        <div class="card-body">
                            <h4 class="card-title text-info">Amul Ghee</h4>
                            <p class="card-text text-warning">Price : Rs.700</p>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                        </div>
                    </div>
                </div>
            <div class="col-md-3 col-sm-3">
                    <div class="card">
                        <h6 class="text-danger text-center py-2"><blink>Sale 40% Off</blink></h6>
                        <img class="card-img-top" src="https://cdn.grofers.com/app/images/products/full_screen/pro_25486.jpg" alt="Card image" style="width:80%">
                        <div class="card-body">
                            <h4 class="card-title text-info">Amul Ghee</h4>
                            <p class="card-text text-warning">Price : Rs.700</p>
                            <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                        </div>
                    </div>
                </div>
        </div>
    <br>
   </div>
</header>
<%- include('footer'); -%>